@keyframes header {
    0%{
        top: -20%;
    }
    100%{
        top: 0;
    }
}
@keyframes crypto{
    0%{
        right: 100px;
        opacity: 0;
    }
    100%{
        right: 0;
        opacity: 1;
    }
}
